GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-cuenta@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
SPREADSHEET_ID=your_google_spreadsheet_id_here

FLOW_API_KEY=
FLOW_SECRET_KEY=
# PRODUCTION: https://www.flow.cl/api
FLOW_API_URL=https://sandbox.flow.cl/api
NEXT_PUBLIC_SITE_URL=http://localhost:3000
